FORMAT: 1A
HOST: http://private-6b025-topicmoodtracker.apiary-mock.com/

# topicMoodTracker

topicMoodTracker is an API that will allow one single user to set a basic mood per day regarding to a given topic.
You can therefore create several topics to track your achievement rate in a day basis.

# topicMoodTracker API Root [/]

This resource does not have any attributes. Instead it offers the initial API affordances in the form of the links in the JSON body.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "topics_url": "/topics"
        }

# Group Topics

Resources related to the topics in the API.

## Topics Collection [/topics]

### List All Topics [GET]

+ Response 200 (application/json)

        [
            {
                "topic": "How about frying an egg?",
                "created_at": "2016-10-11T10:38:51.620Z",
                "url": "/topic/1",
                "moods": [
                    {
                        "mood": "It was really good today",
                        "url": "/moods/1",
                        "valoration": "positive",
                        "count": 3
                    }, {
                        "mood": "No fried eggs today",
                        "url": "/moods/2",
                        "valoration": "neutral",
                        "count": 10
                    }, {
                        "mood": "Neither the dog wanted it today"
                        "url": "/moods/3",
                        "valoration": "negative",
                        "count": 5
                    }
                ]
            }
        ]

### Create a New Topic [POST]

Create your new topic of interest this action. It takes a JSON
object containing a topic and also the configuration of your 3 moods.

+ topic (string) - The topic you want to track
+ moods (array[moods]) - A collection to configure the moods to choose daily.

+ Request (application/json)

            {
                "topic": "Have you worked in your arduino car prototype 1?",
                "choices": [
                    "positive": "oh yes, oh yes",
                    "neutral": "yes/no, im analizying next step",
                    "negative": "who were you and what were arduino, again?"
                ]
            }

+ Response 201 (application/json)

    + Headers

            Location: /topic/2

    + Body

                {
                    "topic": "Have you worked in your arduino car prototype 1?",
                    "published_at": "2016-11-01T08:40:51.620Z",
                    "moods": [
                        {
                            "mood": "oh yes, oh yes",
                            "url": "/moods/4",
                            "valoration": "positive",
                            "count": 0
                        }, {
                            "mood": "yes/no, im analizying next step",
                            "url": "/moods/5",
                            "valoration": "neutral",
                            "count": 0
                        }, {
                            "mood":  "who were you and who were arduino, again?",
                            "url": "/moods/6",
                            "valoration": "negative",
                            "count": 0
                        }
                    ]
                }

## Topic  [/topics/{topic_id}]
    + Parameters
        + topic_id (number) - ID of the Topic in the form of an integer
        
### Get the detail for a given topic [GET]

+ Response 200 (application/json)

        {  
            "topic": "How about frying an egg?",
            "created_at": "2016-10-11T10:38:51.620Z",
            "url": "/topic/1",
            "moods": [
                {
                    "mood": "It was really good today",
                    "url": "/moods/1",
                    "valoration": "positive",
                    "count": 3
                }, {
                    "mood": "No fried eggs today",
                    "url": "/moods/2",
                    "valoration": "neutral",
                    "count": 10
                }, {
                    "mood": "Neither the dog wanted it today"
                    "url": "/moods/3",
                    "valoration": "negative",
                    "count": 5
                }
            ]
        }

### Delete [DELETE]

+ Response 204


# Group Moods

Resources related to the moods in the API.

## Moods [/moods/{mood_id}]

### Get the detail for a given mood [GET]

+ Response 200 (application/json)
       
        {
            "mood": "It was really good today",
            "url": "/moods/1",
            "valoration": "positive",
            "count": 3
        }